@model Alumno
@{
    ViewData["Title"] = "Creacion de Alumno";

}
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <input type="submit" />
</form>