@model Alumno
@{
    ViewData["Title"] = "Edición de alumno";

}
<div asp-validation-summary="All"></div>
<form method="POST" asp-controller="Alumno" asp-action="Update">
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id" />
    </div>
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CursoId"></label>
        <input asp-for="CursoId" />
    </div>
    <input type="submit" />
</form>