@model Curso
@{
    ViewData["Title"] = "Edici贸n de Curso";

}
<div asp-validation-summary="All"></div>
<form method="POST" asp-controller="Curso" asp-action="Update">
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id" />
    </div>
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Direcci贸n"></label>
        <input asp-for="Direcci贸n" />
        <span asp-validation-for="Direcci贸n" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Jornada"></label>

        @Html.DropDownList("Jornada", Html.GetEnumSelectList<TiposJornada>(),
        "Seleccione jornada", new {@class = "form-control"})
        <span asp-validation-for="Jornada" class="text-danger"></span>
    </div>

    <input type="submit" />
</form>